:root {
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-primary: #6741d9;
}

/* html {
  font-size: 62.5%;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.4rem;
}

/* Base styles */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-primary);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  padding: 10px;
}

.search input {
  border-radius: 10px;
  padding: 5px;
  background-color: var(--color-background-500);
  color: #adb5bd;
}

.main {
  margin-top: 2.4rem;
  height: calc(100vh - 7.2rem - 3 * 2.4rem);
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

.box {
  width: 42rem;
  max-width: 42rem;
  background-color: var(--color-background-500);
  border-radius: 0.9rem;
  overflow: scroll;
  position: relative;
  padding: 20px;
}

.box::-webkit-scrollbar,
.list::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.list img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.list p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* @media (max-width: 576px) {
  .main {
    margin-top: 1.2rem;
  }

  .search {
    padding: 5px;
  }

  .search input {
    font-size: 14px;
  }

  .list img {
    max-width: 100%;
  }
} */
